body {

    background-color: rgb(9, 33, 32);
}




.image_frog {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    transition: ease-in-out 5s;
    
}

.image_frog:hover{
    position: absolute;
    opacity: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    transition: ease-in-out 5s;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
    font-size: 90%;
  }
  
  li a {
    font-size: 95%;
    display: block;
    color: white;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }